@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color:  hsl(218, 23%, 16%);
    font-family: "Manrope", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 540px;
    max-height: 332px;
    background-color: #313A48;
    padding: 2.5rem;
    border-radius: 14px;
}

span {
    color: #53FFAA;
    font-size: 0.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

p {
    color: #CEE3E9;
    font-weight: 800;
    text-align: center;
    font-size: 1.6rem;
}

#separator {
    margin: 1.6rem;
}

#generate {
    border-radius: 50%;
    padding: 1rem;
    background-color: #53FFAA;
    cursor: pointer;
    position: absolute;
    left: 48%;
    bottom: 28%;
}
